[submodule "externals/sdcc_msxdos"]
	path = externals/sdcc_msxdos
	url = https://github.com/nataliapc/sdcc_msxdos
[submodule "externals/sdcc_msxconio"]
	path = externals/sdcc_msxconio
	url = https://github.com/nataliapc/sdcc_msxconio.git
